
* {scroll-behavior: smooth;}


footer {
color: white;
}

.nav1 {margin-bottom: 1%;}

#myCarousel {margin-top: 1%;}

.space {min-height: 4vw;}
 

.carousel-indicators {

	filter: invert(70%);
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.img-fluid{
	
	 width: 50%;
   margin: auto;
  
}

#footer555 {
	bottom: 0;
}

@media (max-width: 768px) 
{

.img-fluid{
	
	 width: 100%;
   margin: auto;
  
}

	}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
.img-fluid{
	
	 width: 50%;
   margin: auto;
  
} }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
.img-fluid{
	
	 width: 50%;
   margin: auto;
  
} }


@media (max-width: 768px) 
{
	#myCarousel {margin-top: 10%;}
}